<div class="header">

  <span class="file-name"> {{ selected.length === 1 ? selected[0].filename : selected.length + ' Selected' }}</span>
  <span class="file-size">{{ size | filesize }}</span>

  <div class="actions">
    <button mat-mini-fab title="Fullscreen"><i class="fa fa-expand"></i></button>
    <button mat-mini-fab title="Download"><i class="fa fa-download"></i></button>
    <button mat-mini-fab title="Favourite"><i class="fa fa-heart"></i></button>
    <button mat-mini-fab title="Media Info"><i class="fa fa-info-circle"></i></button>
    <button mat-mini-fab title="Delete"><i class="fa fa-trash"></i></button>
  </div>

  <button  mat-icon-button  class="close-btn icon-med" (click)="bottomSheetRef.dismiss()">
    <i class="fa fa-times"></i>
  </button>
</div>
<app-tag-manager [startWith]="tags" (added)="add($event)" (deleted)="remove($event)"></app-tag-manager>
