<div class="header">
  <div>
    <span class="file-name"> {{ selected.length === 1 ? selected[0].filename : selected.length + ' Selected' }}</span>
    <span style="margin-left: 10px;font-size: 14px;">{{ size | filesize }}</span>
  </div>

  <button mat-icon-button class="close-btn" (click)="bottomSheetRef.dismiss()" color="primary">
    <i class="fa fa-times"></i>
  </button>
</div>
<app-tag-manager [startWith]="tags" (added)="add($event)" (deleted)="remove($event)" style="width:100%;margin-top:5px;"></app-tag-manager>

<!--<div style="display:flex; flex-direction: column; padding: 10px;width:100%">-->
<!--  <div style="font-size: 18px">{{ selected.filename }}</div>-->
<!--  <table style="font-size: 10px; line-height:12px; margin-top:5px; width: 300px;">-->
<!--    <tr><td><b>Uploaded At</b></td><td>{{selected.uploadedAt}}</td></tr>-->
<!--    <tr><td><b>Size</b></td><td>{{selected.size | filesize}}</td></tr>-->
<!--    <tr><td><b>Dimensions</b></td><td>{{selected.width + ' x ' + selected.height}}</td></tr>-->
<!--    <tr><td><b>MD5</b></td><td>{{selected.md5}}</td></tr>-->
<!--  </table>-->
<!--</div>-->


