/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
  background: rgb(33,55,76);
  background: radial-gradient(circle, rgba(33,55,76,1) 0%, rgba(45,41,64,1) 100%);
}
