$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
  background: rgb(33,55,76);
  background: radial-gradient(circle, rgba(33,55,76,1) 0%, rgba(45,41,64,1) 100%);
  height:100vh;
  width:100vw;
  font-family: 'Roboto', serif;

}

app-search-result-table {
  virtual-scroller {
    //background-color: #ff00b3;
    .scrollable-content {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center; /*space-evenly; /*center*/
      flex-grow: 1;
    }
  }
}

//mat-card {
//  border-radius: 2px;
//}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-width {
  width: 90%;
}

.mat-bottom-sheet-container-xlarge, .mat-bottom-sheet-container-large, .mat-bottom-sheet-container-medium {
  width: 100vw;
}
