<a routerLink="/secure/search" routerLinkActive="active">
  <i class="fa fa-search"></i>
  <div class="title">search</div>
</a>
<a routerLink="/secure/tags" routerLinkActive="active">
  <i class="fa fa-tag"></i>
  <div class="title">tags</div>
</a>
<a>
  <i class="fa fa-map-marker"></i>
  <div class="title">geotemporal</div>
</a>
<a>
  <i class="fa fa-clone"></i>
  <div class="title">duplicates</div>
</a>
<a>
  <i class="fa fa-trash"></i>
  <div class="title">bin</div>
</a>
<a>
  <i class="fa fa-cog"></i>
  <div class="title">settings</div>
</a>

<a style="margin-top: auto " (click)="logout()">
  <i class="fa fa-user" style="border-radius: 50px; background-color: white; color: black;padding: 20px 10px;"></i>
</a>

