:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

  .header {
    width: 100%;
    background-color: #e8e8e8;
    //background: linear-gradient(36deg, #dc760c 0%, #34145f 100%);
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    color: #717171;
    padding: 4px 25px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: baseline;
    position: relative;


    .file-name {
      font-size: medium;
      font-weight: 700;
      align-items: baseline;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .file-size {
      min-width: 100px;
      margin-left: 10px;
      font-size: small;
    }

    .header-actions {
      margin-left: auto;

      .more-btn {
        margin-right: 10px;
      }
    }
  }

  .xxx {
    padding: 12px 12px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;


    .actions {
      //bottom: 0;
      //position: absolute;
      display: flex;
      //margin-left: 50%;
      //transform: translateX(-50%) translateY(50%);

      button {
        margin: 0 10px;
        color: #696969;
        background-color: white;
        transition: .1s;
      }
    }

    app-tag-manager {
    }
  }

  .xxx {
    font-size: 18px;
    margin-right: 10px;
  }


}
