<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;flex-direction: column; color: white">
  <form style="display: flex; flex-direction: column">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input type="username" matInput>
<!--      <mat-hint>Errors appear instantly!</mat-hint>-->
<!--      <mat-error *ngIf="false">-->
<!--        Email is <strong>required</strong>-->
<!--      </mat-error>-->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </form>
</div>
