<ng-container *ngIf="uploadService.getProgress() | async; let progress">
  <mat-expansion-panel *ngIf="progress.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div>{{ progress.filter(isFinished).length }} / {{ progress.length }}</div>
        <mat-progress-bar [value]="(progress.filter(isFinished).length / progress.length)*100"></mat-progress-bar>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="progress-container">
      <div *ngFor="let p of progress; trackBy: trackByIdentity" class="progress-item">
        <div class="progress-info">
          <div class="filename">{{ p.filename }}</div>
          <div>{{ p.percent / 100 | percent:'.0' }}</div>
          <!-- <div style="width:20px;height:20px;background-color:green" *ngIf="p.isFinished()"></div>-->
        </div>
        <mat-progress-bar [value]="p.percent"></mat-progress-bar>

      </div>
    </div>
  </mat-expansion-panel>
</ng-container>

