:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  app-search-bar {
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  app-upload-monitor {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }



}
