:host {

  .yyy {
    margin: 50px 30px;
    display: flex;
    align-items: center;
    color: white;

    button, mat-card {
      margin: 0 8px;
    }

    mat-card {
      width: 100%;
    }
  }


  app-search-result-table {
    height: 100%;
  }


  app-upload-monitor {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

}
